@model List<TicketInfo>
<table class="table table-responsive table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Destination
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total Price
            </th>

        </tr>
    </thead>
    <tbody>

       @*  @foreach (var ticketInfo in Model)
        {
            <tr>
                <td>
                    <input asp-for="@ticketInfo.Destination" class="form-control" readonly />
                </td>
                <td>
                    <input asp-for="@ticketInfo.UnitPrice" class="form-control" readonly />
                </td>
                <td>
                    <input asp-for="@ticketInfo.Quantity" class="form-control" readonly />
                </td>
                <td>
                    <input asp-for="@ticketInfo.TotalPrice" class="form-control" readonly />
                </td>
            </tr>
        } *@

    <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
            <tr>
                <td>
               
                    <input asp-for="@Model[i].Destination" class="form-control" />
                </td>
                <td>
                    <input asp-for="@Model[i].UnitPrice" class="form-control" />
                </td>
                <td>
                    <input asp-for="@Model[i].Quantity" class="form-control" />
                </td>
                <td>
                    <input asp-for="@Model[i].TotalPrice" class="form-control" readonly />
                </td>
            </tr>
            }
    </tbody>

    </tbody>

</table>